.activity-container {
  background: url("https://img.freepik.com/foto-gratis/enfoque-selectivo-miniatura-turistica-brujula-sobre-mapa-avion-juguete-plastico-fondo-abstracto-viajar-concepto_1423-180.jpg?w=2000");
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.activity-container_form {
  background-color: rgb(233, 233, 179);
  width: 350px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid;
  border-radius: 10px;
}

.form_input {
  background-color: rgb(200, 200, 93);
  width: auto;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.input_label {
  font-weight: bold;
  background-color: rgb(200, 200, 93);
  width: 130px;
  margin: 0 auto;
  padding: 7px;
}

.countries_delete {
  margin: 4px;
  background-color: rgb(198, 42, 42);
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  border: solid 1px;
  cursor: pointer;
  font-size: 10px;
}

.container_input_countries {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 7px;
}

.input_select {
  background-color: rgb(233, 233, 179);
  width: 130px;
  margin: 0 auto;
  padding: 7px;
  border: 2px solid;
  border-radius: 10px;
  font-weight: bold;
  color: #1b1b19;
}

.form_btn-send {
  margin: 10px;
  padding: auto;
  color: #6e2a2a;
  background-color: rgb(253, 229, 198);
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  padding: 3px 10px;
  box-shadow: 0px 5px 0px #1b1b19;
  border-radius: 20px;
  cursor: pointer;
}

.btn_activity-return {
  margin: 10px;
  padding: auto;
  color: #6e2a2a;
  background-color: rgb(253, 229, 198);
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  padding: 3px 10px;
  box-shadow: 0px 5px 0px #1b1b19;
  border-radius: 20px;
  cursor: pointer;
}

*:disabled {
  background-color: dimgrey;
  color: linen;
  cursor: default;
}

.form_btn-search {
  margin: 15px;
  padding: auto;
  color: rgb(253, 229, 198);
  background-color: #6e2a2a;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  padding: 0px 4px;
  box-shadow: 0px 5px 0px #1b1b19;
  border-radius: 20px;
  cursor: pointer;
}

.input_error {
  color: rgb(219, 28, 28);
  font-size: small;
}

.countries_name {
  font-size: 16px;
  margin: 0%;
  width: 15%;
  font-weight: bold;
}

.countries_img {
  width: 30px;
  height: 22px;
}

.footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: auto;
}

.footer_description {
  margin: 5px;
  color: white;
}

.footer_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}
